/* ----------------------
	Sril's Keyboard
	 - CSS stylesheet 
---------------------------*/

/*
 	Index
 ---------------------------
	Body,
	Header,
	Main,
	keyboard-display,
	buttons,
	footer,
	Media query

---------------------------*/

body {
	height: auto; 
	max-width: 500%; 
	background-color: white; 
}